body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: Lato;
  margin: 0;

  --primary-color: rgba(0, 142, 91, 1);
  --primary-muted: rgba(0, 142, 91, .6);
  --primary-transparent: rgba(0, 142, 91, .25);

  --dark-gray: rgb(120, 120, 120);
  --light-gray: rgb(220, 220, 220);
  --transparent-white: rgba(255, 255, 255, 0);
}

body, * {
  box-sizing: border-box;
}

#title {
  margin-bottom: 1em;
  font-size: 1.5em;
  color: var(--primary-color);
  text-align: center;
}

form {
  margin-bottom: 1em;

  display: flex;
  justify-content: center;
}

input[type=number] {
  line-height: 2.5em;
  /* height: 2em; */

  padding: 0 0 0 .5em;
  margin: 0 .25em;
  border: 1px solid var(--light-gray);
  border-radius: .4em;

  font-weight: bold;
  color: var(--dark-gray);
}

input[type=number]:focus {
  outline-color: var(--primary-muted);
}

input[type=submit], button {
  border: none;
  padding: .75em 2em;
  border-radius: 5px;
  color: white;

  border-radius: 3em;
  width: 10em;
  font-weight: bold;
  outline-color: var(--primary-muted);
}

/* start button */
input[type=submit] {
  background-color: var(--primary-color);
}

.colon{
  line-height: 2em;
  font-weight: bold;
}

button {
  margin: .25em;

  /* prevent 'jump' on switch to/from disabled state */
  border: 2px solid var(--transparent-white);

  background-color: var(--primary-transparent);
  color: var(--primary-color);
}

button:disabled {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid var(--primary-transparent);
  color: var(--primary-muted);
}

#controls {
  display: flex;
  justify-content: center;
}

#counter {
  text-align: center;
  font-weight: 900;
  font-size: 3em;

  color: var(--primary-color);
}

footer {
  font-size: .75em;
  color: var(--dark-gray);
}