body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  font-family: Lato;
  --primary-color: #E84855;
  --secondary-color: #FFBEDF;
}

#title {
  /* margin-bottom: 1em; */
  font-size: 2.5em;
}

form {
  margin-bottom: 1em;

  display: flex;
  justify-content: center;
}

input[type=number] {
  line-height: 2em;
  padding: 0 0 0 .25em;
  margin: 0 .25em;

  font-weight: bold;
}

input[type=submit], button {
  border: none;
  padding: .75em 2em;
  border-radius: 5px;
  color: white;
}

input[type=submit] {
  font-weight: bold;
  background-color: var(--primary-color);
}

.colon{
  line-height: 2em;
  font-weight: bold;
}

button {
  background-color: var(--secondary-color);
  color: rgb(50, 50, 50);
  margin: .25em;
}

button:disabled {
  background-color: rgb(170, 170, 170);
  color: white;
}

#controls {
  display: flex;
  justify-content: center;
}

#pause {
  width: 8em;
}

#counter {
  text-align: center;
}

footer {
  font-size: .75em;
  color: rgba(180, 180, 180, 1);
}